body {
    background-color: #000000;
}

.margin-x {
    margin-left: 16px;
    margin-right: 16px;
}

.padding-x {
    padding-left: 20px;
    padding-right: 20px;
}

.mt-14{
    margin-top: 14px;
}

.my-16 {
    margin-top: 16px;
    margin-bottom: 16px;
}
